@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
  box-sizing: border-box;
}

html,
body {
  background: #f3f5f7;
  font-size: 62.5%;
}

header {
  width: 100%;
  height: 250px;
  display: flex;
  background-image: linear-gradient(to left, #3ea1db, #574ae8);
}

header .container-header {
  max-width: 900px;
  width: 90%;
  margin: auto;
}

header .content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 2.4rem;
  font-weight: 400;
}

header .container-search {
  width: 100%;
}

form {
  padding: 30px 0px;
}

form .l-search {
  background-color: rgba(255, 255, 255, 0.205);
  display: flex;
  gap: 2rem;
  padding: 0 1rem;
}

form .input-search {
  width: 100%;
  background-color: transparent;
  height: 60px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1.8rem;
  color: white;
}

.l-search .input-search::placeholder {
  color: white;
  opacity: 50%;
  font-size: 1.8rem;
}

.l-search .icon-search {
  display: flex;
  align-items: center;
}

.l-search .icon-search i {
  cursor: pointer;
  font-size: 2.5rem;
  color: white;
}

.l-search .icon-search i:hover {
  color: #0d4e73;
}


/* MAIN */
main {
  max-width: 900px;
  width: 90%;
  margin: auto;
}

main .card-news {
  height: auto;
  margin: 80px 0px;
  background-color: white;
  position: relative;
}

main .card-news .content-card {
  padding: 2rem;
}

main .card-news .content-card .date {
  color: #717171;
  font-size: 1.6rem;
  font-weight: 400;
}

main .card-news .content-card  i{
    font-size: 2.5rem;
    cursor: pointer;
}
main .card-news .content-card .like i{
   color: red;
}

main .card-news .content-card h2 {
  color: #1a202c;
  font-size: 2.6rem;
  font-weight: 400;
  padding: 15px 0px;
}
main .card-news .content-card p {
  color: #717171;
  font-size: 18px;
  font-weight: 400;
  line-height: 3.2rem;
  border-radius: 5px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 500px) {
  html,
  body {
    font-size: 52%;
  }
  .content-header {
    font-size: 2rem;
  }
}
